<!-- <div class="flex-center">
  <div class="w50-1 flex-center flex-column">
      <div class="contact-text relative">
      <%# flash.each do |key, value| %>
      <div>
        <h1 class="h1 black-olive font-25px">
            <a href="#" data-dismiss="alert"></a>
              <%#= value %>
          </h1>
      </div>
      <%# end %>
    </div>
  </div>
  <%#= image_tag(asset_path('thank_you.svg'), alt: 'Merci', class: 'img-contact-congrate') %>
</div> -->
